<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.whydt.brain_gym">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_nameSMALL"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_nameBIG"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MathActivity"
            android:label="@string/math_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".StrupActivity"
            android:label="@string/strup_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".StrupActivity_ver1"
            android:label="@string/strup_name1"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".StrupActivityOptions_ver1"
            android:label="@string/strup_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MatrixActivity"
            android:label="@string/matrix_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".StrupActivityOptions"
            android:label="@string/strup_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MatrixActivityOptions"
            android:label="@string/matrix_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MathActivityOptions"
            android:label="@string/math_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MissingSymbolActivityOptions"
            android:label="@string/missing_symbol_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MissingSymbolActivity"
            android:label="@string/missing_symbol_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChainCharacterActivity"
            android:label="@string/chain_char_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChainCharacterActivityOptions"
            android:label="@string/chain_char_name_options"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NumberSearchActivity"
            android:label="@string/number_search_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NumberSearchActivityOptions"
            android:label="@string/number_search_name_options"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>